/* Hljs Custom CSS */
.ja2pyc-hljs {
    margin: 1rem 0;
}

/* Hljs Header */
.ja2pyc-hljs .hljs-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #0d1117;
    box-sizing: border-box;
    padding: 1rem;
}

.ja2pyc-hljs .header-language {
    /* background-color: #303030; */
}

.ja2pyc-hljs .header-button {
    cursor: pointer;
}

.ja2pyc-hljs .button-copy {
    width: auto;
    height: 1rem;
}

/* Hljs pre */
.ja2pyc-hljs pre {
    margin-top: 0;
}

/* Hljs Table */
.ja2pyc-hljs table {
    width: 100%;
}

/* Table tr */
.ja2pyc-hljs table tbody tr:nth-child(odd) {
    background-color: #30303030;
}

.ja2pyc-hljs table tbody tr:nth-child(even) {
    background-color: #60606060;
}

/* TR Line Numbers */
.ja2pyc-hljs .hljs-ln-line.hljs-ln-numbers {
    width: 2rem;
    height: 1.5rem;
    text-align: center;
    border-right: 1px solid #d0d0d0;
}

.ja2pyc-hljs .hljs-ln-line.hljs-ln-code {
    padding-left: 1rem;
}