/* JA2PYC Base CSS */
/* table */
table.ja2pyc {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

/* table thead */
table.ja2pyc thead {
    background-color: #202020;
}

table.ja2pyc thead tr th {
    padding: 1rem 0;
}

/* table tbody */
table.ja2pyc tbody tr:nth-child(odd) {
    background-color: #303030;
}

table.ja2pyc tbody tr:nth-child(even) {
    background-color: #404040;
}

table.ja2pyc tbody tr td {
    padding: 0.5rem 0;
}